In [1]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

from sklearn.preprocessing import LabelEncoder

lb=LabelEncoder()

In [2]:
### upload dataset

df=pd.read_csv('Data Set - industrial_safety_and_health_database_with_accidents_description.csv')

df.head(5)

,Unnamed: 0,Data,Countries,Local,Industry Sector,Accident Level,Potential Accident Level,Genre,Employee or Third Party,Critical Risk,Description
0,0,2016-01-01 00:00:00,Country_01,Local_01,Mining,I,IV,Male,Third Party,Pressed,While removing the drill rod of the Jumbo 08 f...
1,1,2016-01-02 00:00:00,Country_02,Local_02,Mining,I,IV,Male,Employee,Pressurized Systems,During the activation of a sodium sulphide pum...
2,2,2016-01-06 00:00:00,Country_01,Local_03,Mining,I,III,Male,Third Party (Remote),Manual Tools,In the sub-station MILPO located at level +170...
3,3,2016-01-08 00:00:00,Country_01,Local_04,Mining,I,I,Male,Third Party,Others,Being 9:45 am. approximately in the Nv. 1880 C...
4,4,2016-01-10 00:00:00,Country_01,Local_04,Mining,IV,IV,Male,Third Party,Others,Approximately at 11:45 a.m. in circumstances t...

###### Note: first we'll look at missing values and duplicate values.. after that we'll eclude the text variable

In [3]:
df.isnull().sum()

Unnamed: 0                  0
Data                        0
Countries                   0
Local                       0
Industry Sector             0
Accident Level              0
Potential Accident Level    0
Genre                       0
Employee or Third Party     0
Critical Risk               0
Description                 0
dtype: int64

there is no any null value in dataset

In [4]:
df.duplicated().sum()

0

###### also there is no any duplicate values in the dataset....

###### now we'll exclude text column for further data cleaning

In [5]:
### we'll remove description and unnamed column 

df_new=df.drop(['Description','Unnamed: 0'],axis=1)

In [6]:
df_new.columns

Index(['Data', 'Countries', 'Local', 'Industry Sector', 'Accident Level',
       'Potential Accident Level', 'Genre', 'Employee or Third Party',
       'Critical Risk'],
      dtype='object')

In [7]:
## rennaming mis-spelled variables

df_new=df_new.rename(columns={'Genre':'Gender','Data':'Date'})
df_new.columns

Index(['Date', 'Countries', 'Local', 'Industry Sector', 'Accident Level',
       'Potential Accident Level', 'Gender', 'Employee or Third Party',
       'Critical Risk'],
      dtype='object')

In [8]:
### converting the date varible into year and month

df_new['Month']=pd.DatetimeIndex(df_new['Date']).month

In [9]:
df_new.columns

Index(['Date', 'Countries', 'Local', 'Industry Sector', 'Accident Level',
       'Potential Accident Level', 'Gender', 'Employee or Third Party',
       'Critical Risk', 'Month'],
      dtype='object')

In [10]:
df_new=df_new.drop(['Date'],axis=1)

In [11]:
df_new

,Countries,Local,Industry Sector,Accident Level,Potential Accident Level,Gender,Employee or Third Party,Critical Risk,Month
0,Country_01,Local_01,Mining,I,IV,Male,Third Party,Pressed,1
1,Country_02,Local_02,Mining,I,IV,Male,Employee,Pressurized Systems,1
2,Country_01,Local_03,Mining,I,III,Male,Third Party (Remote),Manual Tools,1
3,Country_01,Local_04,Mining,I,I,Male,Third Party,Others,1
4,Country_01,Local_04,Mining,IV,IV,Male,Third Party,Others,1
...,...,...,...,...,...,...,...,...,...
420,Country_01,Local_04,Mining,I,III,Male,Third Party,Others,7
421,Country_01,Local_03,Mining,I,II,Female,Employee,Others,7
422,Country_02,Local_09,Metals,I,II,Male,Employee,Venomous Animals,7
423,Country_02,Local_05,Metals,I,II,Male,Employee,Cut,7
424,Country_01,Local_04,Mining,I,II,Female,Third Party,Fall prevention (same level),7

In [12]:
## check the no of categories in the dataset

for i in df_new.columns:
    print(len(df_new[i].value_counts()))

3
12
3
5
6
2
3
33
12

###### here we have accident level and potential accient levels are our target variable 

###### rest variables are predictors

In [13]:
### now we'll create dummy variable

## we'll use getdummies function

df_new_dummy=df_new.copy()

In [14]:
df_new_dummy=pd.get_dummies(df_new_dummy,prefix='Countries',columns=['Countries'])

df_new_dummy=pd.get_dummies(df_new_dummy,prefix='Local',columns=['Local'])

df_new_dummy=pd.get_dummies(df_new_dummy,prefix='EMPloyee',columns=['Employee or Third Party'])

df_new_dummy=pd.get_dummies(df_new_dummy,prefix='Critical_Risk',columns=['Critical Risk'])

df_new_dummy=pd.get_dummies(df_new_dummy,prefix='Industry_Sector',columns=['Industry Sector'])



### also we'll labeling the target variables and gender column

df_new_dummy['Gender']=lb.fit_transform(df_new_dummy['Gender'])

df_new_dummy['Accident Level']=lb.fit_transform(df_new_dummy['Accident Level'])

df_new_dummy['Potential Accident Level']=lb.fit_transform(df_new_dummy['Potential Accident Level'])

In [15]:
df_new_dummy

,Accident Level,Potential Accident Level,Gender,Month,Countries_Country_01,Countries_Country_02,Countries_Country_03,Local_Local_01,Local_Local_02,Local_Local_03,...,Critical_Risk_Projection/Choco,Critical_Risk_Projection/Manual Tools,Critical_Risk_Suspended Loads,Critical_Risk_Traffic,Critical_Risk_Vehicles and Mobile Equipment,Critical_Risk_Venomous Animals,Critical_Risk_remains of choco,Industry_Sector_Metals,Industry_Sector_Mining,Industry_Sector_Others
0,0,3,1,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,3,1,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,0,2,1,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,0,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,3,3,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,0,2,1,7,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
421,0,1,0,7,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
422,0,1,1,7,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
423,0,1,1,7,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
424,0,1,0,7,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [16]:
df_new_dummy.shape

(425, 58)

In [19]:
## cheking the target variable

df_new_dummy['Accident Level'].value_counts()

0    316
1     40
2     31
3     30
4      8
Name: Accident Level, dtype: int64

it is showing the imbalaced dataset . we'll use the smote technique in later part after adding the text vectorizer

In [17]:
## saving the data for further comutation

df_new_dummy.to_csv('Final_columnvariables_without_text.csv')